/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


  
  body {
    font-family: 'MT Extra', sans-serif;
  }
  
  @layer utilities {
    .btn_white { 
      @apply  border-white bg-white px-8 py-3 text-green-50
    }
    .btn_white_text  { 
      @apply  border-white bg-white px-8 py-3 text-gray-90
    }
    .btn_green  { 
      @apply  border-green-50 bg-green-50 px-8 py-5 text-white
    }
    .btn_dark_green { 
      @apply  bg-green-90 px-8 py-4 text-white transition-all hover:bg-black
    }
    .btn_dark_green_outline  { 
      @apply border-gray-20 bg-green-90 px-8 py-5 text-white
    }
    
    .max-container {
      @apply mx-auto max-w-[1440px];
    }
  
    .padding-container {
      @apply px-6 lg:px-20 3xl:px-0;
    }
  
    .flexCenter {
      @apply flex items-center justify-center;
    }
  
    .flexBetween {
      @apply flex items-center justify-between;
    }
  
    .flexStart {
      @apply flex items-center justify-start;
    }
  
    .flexEnd {
      @apply flex items-center justify-end;
    }
  
    /* FONTS */
    .regular-64 {
      @apply text-[64px] font-[400] leading-[120%];
    }
  
    .regular-40 {
      @apply text-[40px] font-[400] leading-[120%];
    }
  
    .regular-32 {
      @apply text-[32px] font-[400];
    }
  
    .regular-24 {
      @apply text-[24px] font-[400];
    }
  
    .regular-20 {
      @apply text-[20px] font-[400];
    }
  
    .regular-18 {
      @apply text-[18px] font-[400];
    }
  
    .regular-16 {
      @apply text-[16px] font-[400];
    }
  
    .regular-14 {
      @apply text-[14px] font-[400];
    }
  
    .medium-14 {
      @apply text-[14px] font-[600];
    }
  
    .bold-88 {
      @apply text-[88px] font-[700] leading-[120%];
    }
  
    .bold-64 {
      @apply text-[64px] font-[700] leading-[120%];
    }
  
    .bold-52 {
      @apply text-[52px] font-[700] leading-[120%];
    }
  
    .bold-40 {
      @apply text-[40px] font-[700] leading-[120%];
    }
  
    .bold-32 {
      @apply text-[32px] font-[700] leading-[120%];
    }
  
    .bold-20 {
      @apply text-[20px] font-[700];
    }
  
    .bold-18 {
      @apply text-[18px] font-[700];
    }
  
    .bold-16 {
      @apply text-[16px] font-[700];
    }
  
    /* Hero */
    .hero-map {
      @apply absolute right-0 top-0 h-screen w-screen bg-pattern-2 bg-cover bg-center md:-right-28 xl:-top-60;
    }
  
    /* Camp */
    .camp-quote {
      @apply absolute -right-6 bottom-4 w-[140px] lg:bottom-10 xl:-right-8 xl:w-[186px] 3xl:right-0;
    }
  
    /* Feature */
    .feature-phone {
      @apply absolute top-[13%] z-10 hidden max-w-[1500px] rotate-[15deg] md:-left-16 lg:flex  3xl:left-20;
    }
  
    /* Get App */
    .get-app {
      @apply max-container relative flex w-full  flex-col justify-between gap-32 overflow-hidden bg-green-90 bg-pattern bg-cover bg-center bg-no-repeat px-6 py-12 text-white sm:flex-row sm:gap-12 sm:py-24 lg:px-20 xl:max-h-[598px] 2xl:rounded-5xl;
    }
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* styles/globals.css */
  
  /* Define font faces */
  /* styles/globals.css */
  
  /* Define font faces */
  @font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MT Extra';
    src: url('/fonts/MTExtra-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply fonts to elements */
  body {
    font-family: 'MT Extra', sans-serif; /* Default font for all text */
  }
  
  .font-source-code-pro {
    font-family: 'Source Code Pro', monospace; /* Specific font for 'CHAMELEON' text */
  }
  .scrollView {
    color: #8956ff; /* Example text color */
  }
  
  /* Custom Scrollbar Styles */
  .scrollbar-thumb-custom-green::-webkit-scrollbar-thumb {
    background-color: #65AD87; /* Custom green */
  }
  
  .scrollbar-track-gray-100::-webkit-scrollbar-track {
    background-color: #f7fafc; /* Light gray */
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 9950px;
  }
  
  
  .scrollbar-thumb-custom::-webkit-scrollbar-thumb {
    background-color: #528cbcd9; /* Blue */
    background-image: url('/public/assets/icons/logo.png'); /* Replace with your icon path */
    background-size: 80%; /* Adjust icon size */
    background-repeat: no-repeat;
    background-position: center;
  }
  /* Example styles for DropdownMenuComponent */
.dropdown-menu {
    position: absolute;
    top: 3.5rem; /* Adjust as needed */
    right: 0; /* Align to the right */
  }
/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 300px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000e2b; /* Gray color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(101, 173, 135, 0.2); /* Greenish background with opacity */
}
  